<% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>


<% if logged_in? %>
  <main>
    <h1>Roadmap</h1>
    <nav>
      <div>
        <p>Links</p>
        <ul>
          <li><%= link_to "Message board", notices_path %></li>
        </ul>
      </div>
    </nav>
  </main>
<% else %>
  Post some basic info here to tell what's this
<% end %>
