<%= render 'shared/banner' %>

<% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<div class="game-container">

<%= render 'shared/navigation' %>
  <div> Content </div>
</div>