<h1>StaticPages#home</h1>
<p>Hello, this will be my homepage</p>

<% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<%= render 'navigation' %>