<%= render 'shared/banner' %>

<div class="game-container">
  <%= render 'shared/navigation' %>

  <div>
    <h1>Messages board</h1>
    <div>
      <% if @notices.any? %>
          <ol class="notices">
            <%= render @notices %>
          </ol>
          <%= will_paginate %>
      <% else %>
          Noone posted anything yet.
      <% end %>
    </div>
  </div>

</div>
