@import "../colors.scss";

.navigation,
.navigation-big {
  min-height: calc(100vh - 270px);
  box-sizing: border-box;
  border: 2px solid $blue1;
  margin: 10px 0 10px 10px;

  .nav {
    width: 200px;
    background: $grey2;
    margin: 0;
    list-style: none;
    padding-left: 30px;
    box-sizing: border-box;
  }

  .nav-part-name {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid $blue6;
    color: $blue6;
  }

  .nav-link {
    color: $blue4;
    &:hover {
      color: $blue2;
    }
  }

}

.navigation-big {
  min-height: calc(100vh - 145px);
}
