
$grey1: #f2f2f2;
$grey2: #d9d9d9;
$grey3: #a6a6a6;
$grey4: #8c8c8c;
$grey5: #737373;
$grey6: #595959;
$grey7: #404040;
$grey8: #262626;

$orange1: #ff9c3c;
$orange2: #ef7701;

$blue1: #94bae7;
$blue2: #639ace;
$blue3: #4a79a5;
$blue4: #31659c;
$blue5: #2a569d;
$blue6: #163669;
