@import "colors.scss";

body {
  background: $grey3;
  margin: 0;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: $grey2;
}

.game-container {
  display: flex;
}

.page-content {
  width: 100%;
  display: flex;
  justify-content: center;
}